{% extends "base.html" %}
{% block title %}
Cart
{% endblock title %}
{% block content %}

<h1 class="text-center">Your cart items</h1>
<div class="d-flex flex-wrap">
  <div class="container">
{% if cart.items.all %}
{% for product in cart.items.all %}
<div class="card m-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
  {% if product.image %}
  <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="{{product.name}}'s image">
  {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
              <h6 class="card-header btn">₹{{product.cost_price}}</h6>
                {% if product in cart.items.all %}
                <a href="{% url 'store:add_to_cart' product.id %}" class="btn btn-danger">Remove</a>
                {% else %}
                <a href="{% url 'store:add_to_cart' product.id %}" class="btn btn-primary">Add to Cart</a>
                {% endif %}
          </div>
        </div>
      </div>
    </div>
{% endfor %}
{% else %}
<h3 class="text-center">Oops! It seems your cart is empty at this time!</h3>
{% endif %}
</div>
<div class="m-2 p-2">
  <div class="card">
  <div class="card-header">
    Cart Total
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>₹{{cart_total}}</p>
      <h6 class="text-center">Total Items: {{total_items}}</h6>
    </blockquote>
  </div>
</div>
  <a class="btn btn-primary p-2" href="{% url 'store:place_order' %}">Checkout</a> 
  </div>
</div>
{% endblock content %}
