{% extends "base.html" %}
{% block title %}
Detail
{% endblock title %}
{% block content %}
<div class="container" style="max-width: 64rem; margin: 4px;">
  {% if product.image %}
  <img src="{{product.image.url}}" style="max-width: 24rem;" alt="...">
  {% endif %}
  <div class="card-body">
    <h1 class="card-title">{{product.name}}</h1>
    <p class="card-text">{{product.description}}</p>
    <h6 class="card-header btn">${{product.price}}</h6>
    {% if product in user_cart.items.all %}
    <a href="{% url 'store:add_to_cart' product.id %}" class="btn btn-danger">Added to Cart</a>
    {% else %}
    <a href="{% url 'store:add_to_cart' product.id %}" class="btn btn-primary">Add to Cart</a>
    {% endif %}
  </div>
</div>

{% endblock content %}


